APP_PORT=80

MYSQL_DATABASE=shop_orders
MYSQL_USER=shop_user
MYSQL_PASSWORD=change_me_shop_user_password
MYSQL_ROOT_PASSWORD=change_me_root_password

APP_NAME=Система управления заказами интернет-магазина
APP_BASE_URL=

DB_HOST=db
DB_PORT=3306
DB_CHARSET=utf8mb4

BASIC_AUTH_FILE=/opt/coursework-shop-orders/secrets/.htpasswd