APP_PORT=8080
PHPMYADMIN_PORT=8081
MYSQL_PORT=3307

MYSQL_DATABASE=shop_orders
MYSQL_USER=shop_user
MYSQL_PASSWORD=your_app_db_password
MYSQL_ROOT_PASSWORD=your_root_db_password

APP_BASE_URL=
APP_NAME=Система управления заказами интернет-магазина
DB_HOST=db
DB_PORT=3306
DB_CHARSET=utf8mb4